@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
* {
  padding: 0;
}
body {
  background: rgb(74, 74, 74);
  background: radial-gradient(
    circle,
    rgba(74, 74, 74, 1) 0%,
    rgba(0, 0, 0, 1) 99%
  );
  color: #fff;
  font-family: "Comic Neue", serif;
  text-align: center;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0px;
}
h1 {
  font-size: 10em;
  margin: 0;
  padding-bottom: 5px;
}

input {
  padding: 7px;
  margin: 40px;
  border: #00000000 solid 5px;
  width: 20rem;
  height: 2rem;
  transition: 0.4s;
  transition-delay: 0s;
  transition-timing-function: linear;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  font-size: xx-large;
  font-family: "Comic Neue";
  text-align: center;
}
input:focus {
  border: #000000 solid 5px;
}
input:focus::placeholder {
  color: transparent;
}
::placeholder {
  color: #000000;
  font-size: 1.5rem;
  text-align: center;
  padding-bottom: 2px;
}

.question {
  width: -webkit-fill-available;
  border-radius: 50px;
  max-width: 630px;
}

.name {
  border-radius: 50px 50px 0px;
  max-width: 300px;
  width: -webkit-fill-available;
}
.welcome_message {
  font-size: x-large;
}

button {
  height: 40px;
  padding: 0 50px;
  border-radius: 8px;
  border: none;
  background-color: white;
  color: #000000;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;
  font-family: "Comic Neue", serif;
  will-change: transform;
  font-size: xx-large;
}

button:hover {
  transform: scale(1.1);
  text-transform: inherit;
  background-color: #853737;
}
button:active {
  transform: scale(1.05);
}

.answer {
  margin: 8rem;
  margin-top: 50px;
}

#output {
  font-size: xxx-large;
  font-family: "Caveat", serif;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
a {
  color: #fff;
  text-decoration: none;
}
